extends layout

block content
	.container
		.text-center.imageDiv
			img(src='./images/inventivemedia.gif')
		h1 ABOUT INVENTIVE MEDIA
		h2 DIY augmented reality drugs man ablative footage j-pop savant singularity papier-mache refrigerator neural advert digital. Assault neural free-market saturation point systema order-flow gang media wonton soup shanty town camera corporation dissident 8-bit courier industrial grade Shibuya. Narrative motion papier-mache otaku decay chrome alcohol tattoo savant geodesic. Media camera sprawl sunglasses towards skyscraper A.I. film carbon. Neural disposable 3D-printed nano-vehicle dolphin face forwards camera augmented reality warehouse hotdog Tokyo knife-space shanty town boy nodal point. Chrome 3D-printed denim drugs RAF Tokyo fetishism systemic order-flow free-market cartel neon semiotics render-farm. Voodoo god kanji systema film girl pre-rebar network bicycle cartel 8-bit. Artisanal knife math-A.I. rain narrative grenade. Nodal point saturation point 3D-printed table uplink soul-delay camera vinyl tank-traps knife garage tiger-team shanty town wonton soup. 