extends layout

block content
	.container
		.text-center.imageDiv
			img(src='./images/eziPop.jpg')
		h1 EZIPOP
		h2 own the countertop with this simple but brilliant brochure holder or small product dispenser. With compliance assured, your information will get noticed and disseminated