extends layout

block content
	.container
		.text-center.imageDiv
			img(src='./images/swingBox.png')
		h1 SWINGBOX
		h2 the most sustainable line of pre-pack shipper displays available. Our DON’T SHIP AIR designs assure the smallest of carbon footprintS, while still featuring maximum billboard