extends layout

block content
	.container
		.text-center.imageDiv
			img(src='./images/tufflineLogo.png')
		h1 TUFFLINE TV
		h2 the freestanding video platform with a large format instant change graphic façade, that combines maximum portability with sure to be noticed marketing versatility